In [2]:
import duckdb
from pathlib import Path

In [4]:
data_folder = Path().cwd().parent / "data"
db_path = Path().cwd().parent / 'ta.duckdb'

In [5]:
conn = duckdb.connect(str(db_path))

In [35]:
conn.sql('show all tables')

┌──────────┬─────────┬──────────────────────┬──────────────────────┬───────────────────────────────────────┬───────────┐
│ database │ schema  │         name         │     column_names     │             column_types              │ temporary │
│ varchar  │ varchar │       varchar        │      varchar[]       │               varchar[]               │  boolean  │
├──────────┼─────────┼──────────────────────┼──────────────────────┼───────────────────────────────────────┼───────────┤
│ ta       │ main    │ raw_atp_matches      │ [tourney_id, tourn…  │ [VARCHAR, VARCHAR, VARCHAR, BIGINT,…  │ false     │
│ ta       │ main    │ raw_match_date_auo…  │ [Date, Time, Playe…  │ [BIGINT, VARCHAR, VARCHAR, VARCHAR]   │ false     │
│ ta       │ main    │ raw_match_date_rg    │ [Date, Timestamp, …  │ [BIGINT, VARCHAR, VARCHAR, VARCHAR]   │ false     │
│ ta       │ main    │ raw_match_date_uso…  │ [Date, Timestamp, …  │ [BIGINT, VARCHAR, VARCHAR, VARCHAR]   │ false     │
│ ta       │ main    │ raw_match_date_uso…  │ [Round,Time,Player…  │ [VARCHAR]                             │ false     │
│ ta       │ main    │ raw_match_date_wimby │ [Stage, Date, Time…  │ [VARCHAR, BIGINT, VARCHAR, VARCHAR,…  │ false     │
│ ta       │ main    │ raw_match_date_wim…  │ [Date, Time, Playe…  │ [BIGINT, VARCHAR, VARCHAR, VARCHAR,…  │ false     │
│ ta       │ main    │ raw_weather_london   │ [time, temperature…  │ [VARCHAR, DOUBLE, BIGINT, DOUBLE, B…  │ false     │
│ ta       │ main    │ raw_weather_melbou…  │ [time, temperature…  │ [VARCHAR, DOUBLE, BIGINT, DOUBLE, B…  │ false     │
│ ta       │ main    │ raw_weather_ny       │ [time, temperature…  │ [VARCHAR, DOUBLE, BIGINT, DOUBLE, B…  │ false     │
│ ta       │ main    │ raw_weather_paris    │ [time, temperature…  │ [VARCHAR, DOUBLE, BIGINT, DOUBLE, B…  │ false     │
│ ta       │ main    │ tournaments          │ [tourney_id, tourn…  │ [VARCHAR, VARCHAR, VARCHAR]           │ false     │
├──────────┴─────────┴──────────────────────┴──────────────────────┴───────────────────────────────────────┴───────────┤
│ 12 rows                                                                                                    6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

#### Load Match KPI Tables

In [12]:
conn.sql("""
create or replace table raw_atp_matches as
select * from read_csv_auto(?)
""", params=[str(data_folder / "atp_matches_2023.csv")])

In [17]:
conn.sql('SELECT * FROM raw_atp_matches LIMIT 3')

┌────────────┬──────────────┬─────────┬───┬─────────────┬────────────────────┬────────────┬───────────────────┐
│ tourney_id │ tourney_name │ surface │ … │ winner_rank │ winner_rank_points │ loser_rank │ loser_rank_points │
│  varchar   │   varchar    │ varchar │   │    int64    │       int64        │   int64    │       int64       │
├────────────┼──────────────┼─────────┼───┼─────────────┼────────────────────┼────────────┼───────────────────┤
│ 2023-9900  │ United Cup   │ Hard    │ … │           9 │               3355 │         16 │              2375 │
│ 2023-9900  │ United Cup   │ Hard    │ … │          19 │               2000 │         23 │              1865 │
│ 2023-9900  │ United Cup   │ Hard    │ … │           9 │               3355 │         10 │              2905 │
├────────────┴──────────────┴─────────┴───┴─────────────┴────────────────────┴────────────┴───────────────────┤
│ 3 rows                                                                                 49 columns (7 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

#### Load Match Date Time

In [19]:
conn.sql("""
create or replace table raw_match_date_auopen as
select * from read_csv_auto(?)
""", params=[ str(data_folder / "auopen.csv")])

In [20]:
conn.sql("""
create or replace table raw_match_date_rg as
select * from read_csv_auto(?)
""", params=[ str(data_folder / "rg.csv")])

In [21]:
conn.sql("""
create or replace table raw_match_date_usopen as
select * from read_csv_auto(?)
""", params=[ str(data_folder / "usopen.csv")])

In [28]:
conn.sql("""
create or replace table raw_match_date_usopen2 as
select * from read_csv_auto(?, header=True)
""", params=[ str(data_folder / "usopen2.csv")])

In [23]:
conn.sql("""
create or replace table raw_match_date_wimby as
select * from read_csv_auto(?)
""", params=[ str(data_folder / "wimby.csv")])

In [24]:
conn.sql("""
create or replace table raw_match_date_wimby2 as
select * from read_csv_auto(?)
""", params=[ str(data_folder / "wimby2.csv")])

#### Load Weather Data

In [30]:
conn.sql("""
create or replace table raw_weather_melbourne as
select * from read_csv_auto(?)
""", params=[ str(data_folder / "open-meteo-37.79S144.94E30m - Melbourne.csv")])

In [31]:
conn.sql("""
create or replace table raw_weather_ny as
select * from read_csv_auto(?)
""", params=[ str(data_folder / "open-meteo-40.74N73.79W6m - New York.csv")])

In [32]:
conn.sql("""
create or replace table raw_weather_paris as
select * from read_csv_auto(?)
""", params=[ str(data_folder / "open-meteo-48.82N2.29E40m - Paris.csv")])

In [33]:
conn.sql("""
create or replace table raw_weather_london as
select * from read_csv_auto(?)
""", params=[ str(data_folder / "open-meteo-51.42N0.16W34m - London.csv")])